<div class="jumbotron">
  <h1>CMMI</h1>
  <p>O CMMI surgiu durante a década de 1980 como um modelo para avaliação de risco na contratação de empresas de software pelo Departamento de Defesa dos Estados Unidos que desejava ser capaz de avaliar os processos de desenvolvimento utilizados pelas empresas que concorriam em licitações como indicação da previsibilidade da qualidade, custos e prazos nos projetos contratados. Para desenvolver esse processo, o DOD constituiu junto a Carnegie-Mellon University o SEI (Software Engineering Institute), o qual além de ser responsável pela evolução da família CMM, realiza diversas outras pesquisas em engenharia de software.

O Canal  ISD – Brasil no Youtube, exibe alguns vídeos, explicando o que é o CMMI;

Neste site iremos demonstrar todas as áreas de processo dentro do CMMI aplicados dentro da empresa Easy Solution, demonstrando suas representações continua e por estágio.

Neste site você poderá ter um fácil acesso a todas as áreas com um simples click na PA a ser estudada.</p>
</div>
