<%= form_for(process_area) do |f| %>
  <% if process_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(process_area.errors.count, "error") %> prohibited this process_area from being saved:</h2>

      <ul>
      <% process_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br/>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :abbrev, "Sigla" %>
    <%= f.text_field :abbrev %>
  </div>

  <div class="field">
    <%= f.label :description, "Descrição" %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :reference_model_id, "Modelo" %>
    <%= f.collection_select :reference_model_id, ReferenceModel.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :category_id, "Categoria" %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :maturity_level_id, "Nível de Maturidade" %>
    <%= f.collection_select :maturity_level_id, MaturityLevel.all, :id, :name %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit("Enviar", :class => "btn btn-primary") %>
  </div>

  <br/>
<% end %>
