<h1>Áreas de Processo</h1>

</br>

<a href="<%= new_process_area_path %>" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  Cadastrar
</a>

</br></br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Descrição</th>
      <th>Meta Específica</th>
      <th>Categoria</th>
      <th>Modelo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @process_areas.each do |process_area| %>
      <tr>
        <td><%= process_area.name %></td>
        <td><%= process_area.abbrev %></td>
        <td><%= process_area.description %></td>
        <td><%= process_area.reference_model.try(:abbrev) %></td>
        <td><%= process_area.category.try(:name) %></td>
        <td><%= process_area.maturity_level.try(:abbrev) %></td>
        <td><%= link_to 'Visualizar', process_area %></td>
        <td><%= link_to 'Editar', edit_process_area_path(process_area) %></td>
        <td><%= link_to 'Excluir', process_area, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>