

<p>
  <strong>Nome:</strong>
  <%= @process_area.name %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @process_area.abbrev %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @process_area.description %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @process_area.reference_model.try(:abbrev) %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @process_area.category.try(:name) %>
</p>

<p>
  <strong>Nível de Maturidade:</strong>
  <%= @process_area.maturity_level.try(:abbrev) %>
</p>

<%= link_to 'Editar', edit_process_area_path(@process_area) %> |
<%= link_to 'Voltar', process_areas_path %>
