

<h1>Modelos</h1>

</br>

<a href="<%= new_reference_model_path %>" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  Cadastrar
</a>

</br></br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reference_models.each do |reference_model| %>
      <tr>
        <td><%= reference_model.name %></td>
        <td><%= reference_model.abbrev %></td>
        <td><%= reference_model.description %></td>
        <td><%= link_to 'Visualizar', reference_model %></td>
        <td><%= link_to 'Editar', edit_reference_model_path(reference_model) %></td>
        <td><%= link_to 'Excluir', reference_model, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>