

<p>
  <strong>Nome:</strong>
  <%= @reference_model.name %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @reference_model.abbrev %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @reference_model.description %>
</p>

<%= link_to 'Editar', edit_reference_model_path(@reference_model) %> |
<%= link_to 'Voltar', reference_models_path %>
