

<h1>Metas Específicas</h1>

<br/>

<a href="<%= new_specific_goal_path %>" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  Cadastrar
</a>

<br/><br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specific_goals.each do |specific_goal| %>
      <tr>
        <td><%= specific_goal.name %></td>
        <td><%= specific_goal.abbrev %></td>
        <td><%= specific_goal.description %></td>
        <td><%= link_to 'Visualizar', specific_goal %></td>
        <td><%= link_to 'Editar', edit_specific_goal_path(specific_goal) %></td>
        <td><%= link_to 'Excluir', specific_goal, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>