

<p>
  <strong>Nome:</strong>
  <%= @specific_goal.name %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @specific_goal.abbrev %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @specific_goal.description %>
</p>

<%= link_to 'Editar', edit_specific_goal_path(@specific_goal) %> |
<%= link_to 'Voltar', specific_goals_path %>
