<%= form_for(work_product) do |f| %>
  <% if work_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_product.errors.count, "error") %> prohibited this work_product from being saved:</h2>

      <ul>
      <% work_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br/>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit("Enviar", :class => "btn btn-primary") %>
  </div>

  <br/>
<% end %>
