

<h1>Produtos de trabalho</h1>

</br>

<a href="<%= new_work_product_path %>" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  Cadastrar
</a>

<br/><br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_products.each do |work_product| %>
      <tr>
        <td><%= work_product.name %></td>
        <td><%= link_to 'Visualizar', work_product %></td>
        <td><%= link_to 'Editar', edit_work_product_path(work_product) %></td>
        <td><%= link_to 'Destroy', work_product, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>