<h1>Práticas Específicas</h1>

<br/>

<a href="<%= new_specific_practice_path %>" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  Cadastrar
</a>

<br/><br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specific_practices.each do |specific_practice| %>
      <tr>
        <td><%= specific_practice.name %></td>
        <td><%= specific_practice.abbrev %></td>
        <td><%= specific_practice.description %></td>
        <td><%= link_to 'Visualizar', specific_practice %></td>
        <td><%= link_to 'Editar', edit_specific_practice_path(specific_practice) %></td>
        <td><%= link_to 'Destroy', specific_practice, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>