

<p>
  <strong>Nome:</strong>
  <%= @specific_practice.name %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @specific_practice.abbrev %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @specific_practice.description %>
</p>

<%= link_to 'Editar', edit_specific_practice_path(@specific_practice) %> |
<%= link_to 'Voltar', specific_practices_path %>
