

<h1>Metas Genéricas</h1>

<br/>

<a href="<%= new_generic_goal_path %>" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  Cadastrar
</a>

<br/><br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generic_goals.each do |generic_goal| %>
      <tr>
        <td><%= generic_goal.name %></td>
        <td><%= generic_goal.abbrev %></td>
        <td><%= generic_goal.description %></td>
        <td><%= link_to 'Visualizar', generic_goal %></td>
        <td><%= link_to 'Editar', edit_generic_goal_path(generic_goal) %></td>
        <td><%= link_to 'Excluir', generic_goal, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>