

<p>
  <strong>Nome:</strong>
  <%= @generic_goal.name %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @generic_goal.abbrev %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @generic_goal.description %>
</p>

<%= link_to 'Editar', edit_generic_goal_path(@generic_goal) %> |
<%= link_to 'Voltar', generic_goals_path %>
