<%= form_for(capacity_level) do |f| %>
  <% if capacity_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(capacity_level.errors.count, "error") %> prohibited this capacity_level from being saved:</h2>

      <ul>
      <% capacity_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br/>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :abbrev, "Sigla" %>
    <%= f.text_field :abbrev %>
  </div>

  <div class="field">
    <%= f.label :description, "Descrição" %>
    <%= f.text_area :description %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit("Enviar", :class => "btn btn-primary") %>
  </div>

  <br/>
<% end %>
