<h1>Níveis de Capacidade</h1>

<br/>

<a href="<%= new_capacity_level_path %>" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  Cadastrar
</a>

<br/><br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @capacity_levels.each do |capacity_level| %>
      <tr>
        <td><%= capacity_level.name %></td>
        <td><%= capacity_level.abbrev %></td>
        <td><%= capacity_level.description %></td>
        <td><%= link_to 'Visualizar', capacity_level %></td>
        <td><%= link_to 'Editar', edit_capacity_level_path(capacity_level) %></td>
        <td><%= link_to 'Excluir', capacity_level, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>