

<p>
  <strong>Nome:</strong>
  <%= @capacity_level.name %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @capacity_level.abbrev %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @capacity_level.description %>
</p>

<%= link_to 'Editar', edit_capacity_level_path(@capacity_level) %> |
<%= link_to 'Voltar', capacity_levels_path %>
