/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

footer {
  background-color: #444444;
  bottom: 0;
  color: #FFFFFF;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer a {
  color: #FFFFFF;
  font-weight: bold;
}

header {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  height: 64px;
  padding: 16px;
}

nav {
  float: right;
}

nav a {
  color: #FFFFFF;
}

nav span {
  color: #FFFFFF;
}

.navbar-nav li {
  float: left;
  padding: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  background-color: #373A3C;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: none;
  list-style: none;
  margin-left: -24px;
  padding: 16px;
  position: absolute;
}