<h1>Níveis de Maturidade</h1>

</br>

<a href="<%= new_maturity_level_path %>" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  Cadastrar
</a>

<br/><br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maturity_levels.each do |maturity_level| %>
      <tr>
        <td><%= maturity_level.name %></td>
        <td><%= maturity_level.abbrev %></td>
        <td><%= maturity_level.description %></td>
        <td><%= link_to 'Visualizar', maturity_level %></td>
        <td><%= link_to 'Editar', edit_maturity_level_path(maturity_level) %></td>
        <td><%= link_to 'Excluir', maturity_level, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>