

<p>
  <strong>Nome:</strong>
  <%= @maturity_level.name %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @maturity_level.abbrev %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @maturity_level.description %>
</p>

<%= link_to 'Editar', edit_maturity_level_path(@maturity_level) %> |
<%= link_to 'Voltar', maturity_levels_path %>
