<header class="navbar navbar-dark bg-inverse">
	<a class="navbar-brand" href="<%= root_path %>">CMMI GUIDE</a>
	<nav>
	  <ul class="nav navbar-nav">
      <li class="dropdown">
        <span>Cadastros</span>
        <ul class="dropdown-content">
          <li><a href="<%= reference_models_path %>">Modelos</a></li>
          <li><a href="<%= categories_path %>">Categorias</a></li>
          <li><a href="<%= process_areas_path %>">Áreas de Processos</a></li>
          <li><a href="<%= generic_goals_path %>">Metas Genéricas</a></li>
          <li><a href="<%= specific_goals_path %>">Metas Específicas</a></li>
          <li><a href="<%= specific_practices_path %>">Práticas Específicas</a></li>
          <li><a href="<%= capacity_levels_path %>">Níveis de Capacidade</a></li>
          <li><a href="<%= maturity_levels_path %>">Níveis de Maturidade</a></li>
        </ul>
      </li>
      <li><a href="<%= work_products_path %>">Produtos de trabalho</a></li>
    </ul>
	</nav>
</header>